{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block
content %}
<link rel="stylesheet" href="../../static/css/dashboard.css">
<h2>Welcome To Your Dashboard</h2>
<br/>
<br/>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Your Details</h5>
        <p class="card-text">

            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <stong>Name: </stong> {{ user.name }} <br/>
                        <stong>Surname:</stong> {{ user.surname }} <br />
                        <stong>Email: </stong> {{ user.email }} <br />
                        <stong>User Id: </stong> {{ user.id }} <br />
                    </p>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}