{% extends 'base.html' %}{% block titlte %}Profile{% endblock %}

{% block content %}

{% if id == current_user.id %}

<h2>Your Profile</h2>

<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/member/profile/{{ user.id }}" method="POST">
        {{ form.hidden_tag() }} {{ form.name.label( class="form-label") }} {{
        form.name( class="form-control", value=user.name) }}
        <br />
        {{ form.surname.label( class="form-label" ) }} {{ form.surname(
        class="form-control", value=user.surname ) }}
        <br />
        {{ form.email.label( class="form-label" ) }} {{ form.email(
        class="form-control", value=user.email ) }}
        <br />
        
        {{ form.password1.label( class="form-label" ) }} {{ form.password1(
        class="form-control", value=user.password ) }}
        <br />
        {{ form.password2.label( class="form-label" ) }} {{ form.password2(
        class="form-control", value=user.password2 ) }}

        <br />

        {{ form.submit( class="btn btn-secondary btn-sm") }}

        <a href="{{ url_for('member.delete', id=id) }}" class="btn btn-danger btn-sm">Delete</a>
        
    </form>
</div>

{% else %}

<h2>Access Denied...!</h2>
<p>Sorry, You dont have permission to modify this page</p>

{% endif %}

{% endblock %}