{% extends 'base.html' %}

{% block content %}

{% if id == current_user.id %}

<h2>Your Profile</h2>

<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="profile/{{ user.id }}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(
            class="form-label"
        ) }}

        {{ form.name(
            class="form-control", value=user.name
        ) }}
        <br/>
        {{ form.surname.label(
            class="form-label"
        ) }}
        
        {{ form.surname(
            class="form-control", value=user.surname
        ) }}
        <br/>
        {{ form.email.label(
            class="form-label"
        ) }}
        
        {{ form.email(
            class="form-control", value=user.email
        ) }}
        <br/>
        {{ form.name.password(
            class="form-label"
        ) }}
        
        {{ form.password(
            class="form-control", value=user.password1
        ) }}
        <br/>
        {{ form.password2.label(
            class="form-label"
        ) }}
        
        {{ form.password2(
            class="form-control", value=user.password2
        ) }}
        <br/>
        {{ form.submit(
            class="btn btn-secondary btn-sm"
        )}}

    </form>
</div>

{% else %}

<h2>Request Denied...!</h2>
<p>Sorry, You don't have permission to access this page.</p>

{% endif %}

{% endblock %}
