{% extends 'base_search.html' %}

{% block content %}

<!--
<form>
    <input type="text" placeholder=" Search...." name="search">
    <button type="submit">Submit</button>
</form>
-->
<h3>Search results from career junction</h3>
<br />

<div>
    {% for result in results %}
        <input type="hidden" id="{{ result.id }}">
        <h4>{{ result.title }}</h4>
        <p>{{result.description[0:99] }}...</p>
        <p>Closing Date: {{ result.closing_date }}</p>
        <a href="{{ result.link }}" target="_blank"> View original post </a>
        <a onclick="SayHello()">Save to my list</a>
        <br /><br /><br />
    {% endfor %}
</div>

<script type="text/javascript">function sayHello() {
    alert("Hello World");
  }</script>

{% endblock %}

